.todo__list {
  margin-top: 40px;
  padding: 0 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.todo__list_block {
  outline: none;
  position: relative;
  background-color: var(--background-color-item);
  cursor: pointer;
  min-height: 150px;
  border: 2px solid rgba(153, 153, 153, 0.5);
  border-radius: 10px;
  transition: 0.4s;
  padding: 20px;
  padding-bottom: 40px;
  text-align: start;
  transition: 0.5s;
  textarea {
    background: none;
    pointer-events: none;
    width: 100%;
    min-height: 80px;
    max-height: 200px;
    text-align: start;
    padding: 10px;
    padding-bottom: 10%;
    resize: vertical;
    font-size: 16px;
    color: var(--svg-color);
    &::-webkit-scrollbar {
      width: 5px;
      height: auto;
      background-color: var(--background-color);
    }
    &::-webkit-scrollbar-thumb {
      background-color: red;
      border-radius: 5px;
    }
  }
  textarea:focus {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgb(143, 143, 143);
    pointer-events: painted;
  }

  &:hover,
  &:focus {
    box-shadow: var(--shadow);
  }
}

.todo__list_change {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 20px;
  right: 20px;
  img,
  svg {
    margin-left: 10px;
    transition: 0.4s;
  }
}

.change__block {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 2px 20px;
  border-radius: 5px;
  color: black;
  font-size: 12px;
  background-color: rgb(49, 250, 99);
  text-transform: uppercase;
}

// CSSTransition///////////////
.fade-enter {
  opacity: 0;
  transform: translateX(-100%);
}
.fade-enter-active {
  opacity: 1;
  transform: translateX(20%);
}
.fade-enter-done {
  opacity: 1;
  transform: translateX(0%);
}
.fade-exit {
  opacity: 1;
  transform: translateX(50%);
}
.fade-exit-active {
  transform: translateX(100%);
  opacity: 0;
}
.fade-enter-active,
.fade-exit-active {
  transition: opacity 500ms, transform 500ms;
}

// media////////////////////////////////////////////////
@media (max-width: 768px) {
  .todo__list {
    grid-template-columns: 1fr 1fr;
  }
  .todo__list_block {
    min-height: 120px;
    textarea {
      padding-top: 5px;
      padding-left: 5px;
      padding-bottom: 16px;
    }
    textarea:focus {
      border: 1px solid black;
    }
  }
  .todo__list_change {
    bottom: 15px;
  }
}
@media (max-width: 414px) {
  .todo__list {
    grid-template-columns: 1fr;
    padding: 0;
  }
  .todo__list_block {
    min-height: 100px;
    textarea {
      min-height: 30px;
      padding: 5px 10px;
    }
  }
}
