.pop-up {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%, -50%) !important ;
  width: 250px;
  height: 45px;
  padding: 7px 60px;
  background-color: var(--background-pop-up);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  transition: all 1s;
  font-size: 18px;
  p {
    color: var(--background-color-popUp);
    font-weight: 700;
  }
  div {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--background-color-popUp);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 414px) {
}
