body {
  margin: 0;
  background-color: rgb(118, 54, 202);
  color: white;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
input,
button,
select,
textarea {
  font-family: inherit;
  outline: none;
}
button {
  cursor: pointer;
  font-family: inherit;
  outline: none;
}

span {
  font-family: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: inherit;
}
