body {
  margin: 0;
  background-color: var(--background-color);
  color: white;
  overflow-x: hidden;
}
html {
  margin-left: calc(100vw - 100%);
  margin-right: 0;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
input,
button,
select,
textarea {
  font-family: inherit;
  outline: none;
}
button {
  cursor: pointer;
  font-family: inherit;
  outline: none;
}

span {
  font-family: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: inherit;
}

html[data-theme='light'] {
  --background-header: #4169e1;
  --background-color: rgb(118, 54, 202);
  --add-button-color: black;
  --background-color-item: rgba(255, 255, 255, 0.7);

  --shadow: 5px 5px 10px 1px rgb(0, 0, 0, 0.5);
  --svg-color: rgb(0, 0, 0);
  --background-pop-up: rgb(0, 156, 0);
  --background-svg-container: #d5dde5;

}

html[data-theme='dark'] {
  --background-header: #171923;
  --background-color: #1a202c;
  --add-button-color: rgb(255, 255, 255);
  --background-color-item: none;

  --shadow: 5px 5px 10px 1px rgb(0, 0, 0); 
  --svg-color: rgb(255, 255, 255);
  --background-pop-up: rgb(49, 165, 49);
  --background-svg-container: #3c3c3c;
}
